<ion-view view-title="About">
  <ion-content class="padding">
    <div class="row">
      <div class="col text-center">

        <h2><strong style="color:red;">New</strong><strong style="color:green;">! </strong><strong style="color:blue;">Science</strong>!
        </h2>

        <p class="text-muted">
          The rules
        </p>
        <div class="row">
          <div class="col text-center">

            <!--<ion-list>-->
            <p>There are no rules</p>
          
              <!--</ion-list>-->
          </div>
        </div>


        <p class="text-muted">
          <!-- -Wikipedia-->
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">

        <p class="text-muted">
          <strong style="color:blue;">Rot</strong><strong style="color:red;">Blauer</strong>
          <!--<a-->
          <!--href="http://areteh.co" target="_blank">Areteh</a>.-->
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
