<style>
  .col-10 {
    border: solid 1px grey;
    border-bottom-style: solid 1px grey;
    border-right-style: solid 1px grey;
  }
</style>

<ion-view view-title="About">
<ion-content class="padding">
<div class="row">
  <div class="col text-center">

    <h2><strong style="color:red;">New</strong><strong style="color:green;">! </strong><strong style="color:blue;">Science</strong>!
    </h2>

    <p class="text-muted">
      The rules
    </p>

  </div>
</div>

<div class="row">
  <div class="col">

    <!--<ion-list>-->
    <p>A New Kind of Science is a best-selling, controversial book by Stephen Wolfram, published by his own company in 2002. It contains an empirical and systematic study of computational systems such as cellular automata. Wolfram calls these systems simple programs and argues that the scientific philosophy and methods appropriate for the study of simple programs are relevant to other fields of science. There are 4 different classifications...</p>
    <p><strong style="color:black;">Class 1: </strong> Nearly all initial patterns evolve quickly into a stable, homogeneous state. Any randomness in the initial pattern disappears.</p>
    <p><strong style="color:black;">Class 2: </strong> Nearly all initial patterns evolve quickly into stable or oscillating structures. Some of the randomness in the initial pattern may filter out, but some remains. Local changes to the initial pattern tend to remain local.</p>
    <p><strong style="color:black;">Class 3: </strong>Nearly all initial patterns evolve in a pseudo-random or chaotic manner. Any stable structures that appear are quickly destroyed by the surrounding noise. Local changes to the initial pattern tend to spread indefinitely.</p>
    <p><strong style="color:black;">Class 4: </strong>Nearly all initial patterns evolve into structures that interact in complex and interesting ways, with the formation of local structures that are able to survive for long periods of time.</p>
    Class 2 type stable or oscillating structures may be the eventual outcome, but the number of steps required to reach this state may be very large, even when the initial pattern is relatively simple. Local changes to the initial pattern may spread indefinitely. Wolfram has conjectured that many, if not all class 4 cellular automata are capable of universal computation. This has been proven for Rule 110 and Conway's game of Life.</p>
    <p>New Science implements the simplest set of one-dimensional binary cellular automaton rules that are pretty neat and computed directly on your device. For example, Rule 30 is detailed below with a "0" colored white and a "1" colored black  </p>



  </div>
</div>


<div class="row">
  <div class="col-10">111</div>
  <div class="col-10">110</div>
  <div class="col-10">101</div>
  <div class="col-10">100</div>
  <div class="col-10">011</div>
  <div class="col-10">010</div>
  <div class="col-10">001</div>
  <div class="col-10">000</div>
</div>
<div class="row">
  <div class="col-10">0</div>
  <div class="col-10">0</div>
  <div class="col-10">0</div>
  <div class="col-10">1</div>
  <div class="col-10">1</div>
  <div class="col-10">1</div>
  <div class="col-10">1</div>
  <div class="col-10">0</div>
</div>

<p class="text-muted">
  <!-- -Wikipedia-->
</p>
</div>
</div>
<div class="row">
  <div class="col text-center">
    <p class="text-muted">
      <strong style="color:blue;">Rot</strong><strong style="color:red;">Blauer</strong>
    </p>
  </div>
</div>

</ion-content>
</ion-view>
