<style>
.col-10 {
    border: solid 1px grey;
    border-bottom-style: solid 1px grey;
    border-right-style: solid 1px grey;
}
</style>

<ion-view view-title="About">
<ion-content class="padding">
<div class="row">
  <div class="col text-center">

    <h2><strong style="color:red;">New</strong><strong style="color:green;">! </strong><strong style="color:blue;">Science</strong>!
    </h2>

    <p class="text-muted">
      The rules
    </p>

    <div class="row">
      <div class="col">

        <!--<ion-list>-->
        <p>A New Kind of Science is a best-selling, controversial book by Stephen Wolfram, published by his own company in 2002. It contains an empirical and systematic study of computational systems such as cellular automata. Wolfram calls these systems simple programs and argues that the scientific philosophy and methods appropriate for the study of simple programs are relevant to other fields of science.</p>

        <p>New Science implements a set of one-dimensional binary cellular automaton rules that are pretty neat and computed directly on your device. For example, Rule 30 is detailed below.  </p>

        

      </div>
    </div>


    <div class="row">
      <div class="col-10">111</div>
      <div class="col-10">110</div>
      <div class="col-10">101</div>
      <div class="col-10">100</div>
      <div class="col-10">011</div>
      <div class="col-10">010</div>
      <div class="col-10">001</div>
      <div class="col-10">000</div>
    </div>
    <div class="row">
      <div class="col-10">0</div>
      <div class="col-10">0</div>
      <div class="col-10">0</div>
      <div class="col-10">1</div>
      <div class="col-10">1</div>
      <div class="col-10">1</div>
      <div class="col-10">1</div>
      <div class="col-10">0</div>
    </div>

    <p class="text-muted">
      <!-- -Wikipedia-->
    </p>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <p class="text-muted">
      <strong style="color:blue;">Rot</strong><strong style="color:red;">Blauer</strong>
    </p>
  </div>
</div>

</ion-content>
</ion-view>
