<style>
  .google-blue {
    color: #6d9eeb;
  }

  /* div {
     border: 1px solid red;
   }*/
</style>

<ion-view view-title="Game of Life - {{type}} ({{countable}})">
  <!--<ion-nav-buttons side="left">-->
    <!--<button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-content class="padding">
    <p>
      <button ng-click="openPopover($event)">More Games</button>
    </p>
    <div class="row">
      <!--<div class="col col-center">-->
      <div ng-repeat='maker in displays.makers'>
        <!--<button class="btn btn-sm btn-default" ng-click=maker.getFunc()>{{maker.name}}</button>-->
      </div>
    </div>
    <div class="col text-center">
      <canvas id="board"></canvas>
    </div>
  </ion-content>
</ion-view>
